<div id="middle">
  <!-- <h3 id="borderBottom">Add a new task</h3> -->

  <p>
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Add New Tasks
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <app-add-todo> </app-add-todo>
    </div>
  </div>


  <h3 id="borderBottom">Your Tasks</h3>
</div>
<div *ngFor="let todo of todos">
  <app-todo-item
    [todo]="todo"
    (todoDelete)="deleteTodo($event)"
  ></app-todo-item>
</div>
