<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input
      type="text"
      [(ngModel)]="title"
      name="title"
      id="title"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input 
    type="text" 
    [(ngModel)]="desc"
    name="desc"
    id="desc"
    class="form-control" 
    id="exampleInputPassword1" />
  </div>

  <button id="addTask" class="btn btn-sm btn-primary">Add Task</button>
</form>

